## Broadcom SDHC for kernel 2.6 configuration options
#
# enabled:
#	0/1
#
#	option 'enabled' '0'
#
# preinit:
#	0/1
#	Load SDHC driver during preinit phase (needed for extroot)
#
#	option 'preinit' '0'
#
# mask_diag:
#	0/1
#	Write mask into /proc/diag/gpiomask prior to loading
#
#	option 'mask_diag' '1'
#
# din, dout, clk, cs:
#	GPIO pins for data in, data out, clock, chip select respectively
#
#	option 'din' '@GPIO_DI_PIN@'
#	option 'dout' '@GPIO_DO_PIN@'
#	option 'clk' '@GPIO_CLK_PIN@'
#	option 'cs' '@GPIO_CS_PIN@'
#
# major:
#	0 for automatic, otherwise a number to set the device major number
#
#	option 'major' '0'
#
# maxsec:
#	Maximum number of sectors per read/write request
#
#	option 'maxsec' '32'
#
# dbg:
#	Debug (see source code)
#
#	option 'dbg' '0'
#
# gpio_input, gpio_output, gpio_enable, gpio_control:
#	Memory address of the GPIO register
#	Values for WRT54G/GS/GL (defaults):
#
#	option 'gpio_input' '0xb8000060'
#	option 'gpio_output' '0xb8000064'
#	option 'gpio_enable' '0xb8000068'
#	option 'gpio_control' '0xb800006c'

config 'global' 'broadcom_sdhc26'
	option 'enabled' '0'
	option 'preinit' '0'
	option 'mask_diag' '1'
	option 'din' '@GPIO_DI_PIN@'
	option 'dout' '@GPIO_DO_PIN@'
	option 'clk' '@GPIO_CLK_PIN@'
	option 'cs' '@GPIO_CS_PIN@'
	option 'major' '0'
	option 'maxsec' '32'

