<% cbid = "cbid." .. self.config .. "." .. section
  local function actionSelect(self)
    local s = '<select name="' .. cbid .. '.' .. self.option .. '">'
    for i, key in pairs(self.keylist) do
      s = s .. '<option value="' .. key .. '"' ..
        ifattr(tostring(self:cfgvalue(section) or self.default) == key, "selected", "selected") ..
        '>' .. self.vallist[i] .. '</option>'
    end
    s = s .. '</select>'
    return s
  end
-%>
  <tr class="cbi-section-table-row cbi-rowstyle-<%=tonumber(section)%2+1%>">
    <td class="pnum<%=section%>"><%=section%></td>
    <td><%= self:field("pn"):cfgvalue(section) %></td>
    <td><%
      local curr = self:field("pcurr"):cfgvalue(section)
      if curr then 
        write(("%.1f&deg;"):format(curr))
      else
        write("Off")
      end
    %></td>
    <td>Low</td>
    <td>
      <input class="cbi-button alarm-enable" type="button" style="width: 6em"
        id="<%=cbid%>.pall.b"/>
      <input type="text" id="<%=cbid%>.pall" name="<%=cbid%>.pall" class="alval"
        value="<%=self:field("pall"):cfgvalue(section)%>"/>
    </td>
    <td><input type="checkbox" name="<%=cbid%>.emailL"
      <%=ifattr(self:field("emailL"):cfgvalue(section), "checked", "checked")%>/></td>
    <td><input type="checkbox" name="<%=cbid%>.smsL"
      <%=ifattr(self:field("smsL"):cfgvalue(section), "checked", "checked")%>/></td>
    <td><input type="checkbox" name="<%=cbid%>.pushL"
      <%=ifattr(self:field("pushL"):cfgvalue(section), "checked", "checked")%>/></td>
    <td><input type="text" class="alval" name="<%=cbid%>.spL"
      value="<%=self:field("spL"):cfgvalue(section)%>"/></td>
    <td><%=actionSelect(self:field("raL"))%></td>
    <td class="pnum<%=section%>">
      <input class="cbi-button alarm-test" type="button"
        data-pnum="<%=section%>" data-altype="L"/>
    </td>
  </tr>
  <tr class="cbi-section-table-row cbi-rowstyle-<%=tonumber(section)%2+1%>">
    <td class="pnum<%=section%>"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>High</td>
    <td>
      <input class="cbi-button alarm-enable" type="button" style="width: 6em"
        id="<%=cbid%>.palh.b"/>
      <input type="text" id="<%=cbid%>.palh" name="<%=cbid%>.palh" class="alval"
        value="<%=self:field("palh"):cfgvalue(section)%>"/>
    </td>
    <td><input type="checkbox" name="<%=cbid%>.emailH"
      <%=ifattr(self:field("emailH"):cfgvalue(section), "checked", "checked")%>/></td>
    <td><input type="checkbox" name="<%=cbid%>.smsH"
      <%=ifattr(self:field("smsH"):cfgvalue(section), "checked", "checked")%>/></td>
    <td><input type="checkbox" name="<%=cbid%>.pushH"
      <%=ifattr(self:field("pushH"):cfgvalue(section), "checked", "checked")%>/></td>
    <td><input type="text" class="alval" name="<%=cbid%>.spH"
      value="<%=self:field("spH"):cfgvalue(section)%>"/></td>
    <td><%=actionSelect(self:field("raH"))%></td>
    <td class="pnum<%=section%>">
      <input class="cbi-button alarm-test" type="button"
        data-pnum="<%=section%>" data-altype="H"/>
    </td>
  </tr>

