<% require "lmclient" %>
<%+header%>
<script language="javascript" src="<%=resource%>/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
var configHash = <%= LmClient():query("$LMCF") or "{}" %>;
var rfInterval;
var coeffPresets = [
  {"name": "Maverick ET-72", "desc": "Default", "stein": "2.3067434e-4,2.3696596e-4,1.2636414e-7"},
  {"name": "Maverick ET-732", "desc": "Honeywell R-T Curve 4", "stein": "5.36924e-4,1.91396e-4,6.60399e-8"},
  {"name": "Radio Shack 10k", "desc": "271-110A", "stein": "8.98053228e-4,2.49263324e-4,2.04047542e-7"},
  {"name": "Vishay 10k", "desc": "NTCLE203E3103FB0", "stein": "1.14061e-3,2.32134e-4,9.63666e-8"},
  {"name": "IKEA Fantast", "desc": "Article Number: 801.004.06", "stein": "0.0012555249,1.5671315e-4,3.2210954e-7"}
];

$(function ()
{
  $(".pt").change(typeChanged);
  $(".pcpreset a").click(showCoeffPopup);
  configToForm();
});
$(window).load(windowLoaded);

function windowLoaded()
{
  rfInterval = window.setInterval(queryRfNodes, 10000);
  queryRfNodes();
}

function queryRfNodes()
{
  // If no probetypes are set to RF12 (option 2) then exit
  if ($("select.pt option[value='2']").filter(":selected").length == 0)
    return;
    
  $.ajax({
    type: "GET",
    url: "<%=build_url("lm/rfstatus")%>",
    dataType: "json",
    timeout: 8000,
    success: refreshRfNodes
  });
}

function refreshRfNodes(o)
{
  var container = $("#rfnodes");
  container.empty();
  var hasNodes = false;
  // Put the receiver first and all others in numeric order
  o.sort(function (a,b) { 
    if (a.id == 255)
      return -256;
    else if (b.id == 255)
      return 256;
    else
      return a.id - b.id; 
  });
  for (var i=0; i<o.length; ++i)
  {
    var name
    var desc;
    var img;
    var title;
    if (o[i].id == 127)
      continue;
    else if (o[i].id == 255)
    {
      var noise = o[i].rssi - 128;
      name = "Receiver";
      desc = 'Qual:<span class="' + ((noise < 0) ? 'bad">' : 'good">+') + 
        noise + '</span>';
      img = 4;
      title = "Base";
    }
    else
    {
      name = "Node " + o[i].id;
      desc = "Batt:" + (o[i].lobatt ? '<span class="bad">Low</span>' :
        '<span class="good">Ok</span>') + " New:" + 
        (o[i].reset ? '<span class="good">Yes</span>' : 'No');
      img = o[i].rssi + 1;
      title = "Signal " + o[i].rssi + "/3";
    }
    
    container.append(
      '<li><div class="rfstatus" title="' + title +
      '" style="background-position: ' + (img * -16) +
      'px" /><div style="float:right"><h3>' + name +
      '</h3>' + desc + '</div></li>');
      
    hasNodes = true;
  }
  if (hasNodes)
    container.parent().show();
}

function typeChanged()
{
  var name = this.id.substr(2);
  $("#pbody" + name).css("display", (this.value == 0) ? "none" : "block");
  $("#prf" + name).css("display", (this.value == 2) ? "block" : "none");
  // If switching to 'RF' and no node number is filled in, default to 'any'
  if (this.value == 2 && $("#prfn" + name).val() == "")
    $("#prfa" + name).prop("checked", true).trigger("change");
}

function isProbeId(hay, need)
{
  return (hay.length == need.length + 1) && 
    (hay.substr(0, need.length) == need);
}

function configHashToForm()
{
  for (var k in configHash)
  {
    var elem = $("#" + k);
    if (elem == null)
      continue;
    var val = configHash[k];

    if (isProbeId(k, "pcurr"))
    {
      if (val != null)
        elem.html("current temperature " + val.toFixed(1) + "&deg;");
      else
        elem.html("off");
    } 
    else if (k == "ucid")
      elem.html(val);
    else if (k == "cerr")
      elem.html("Serial checksum errors: " + val);
    else if (val != null)
      elem.val(val);
    else
      elem.val("");
      
    if (isProbeId(k, "pt"))
      elem.trigger("change");
    else if (isProbeId(k, "prfn"))
      $("#prfa" + k.substr(4))
        .change(configElemChange)
        .prop("checked", val == 127);
    else if (isProbeId(k, "pall") || isProbeId(k, "palh"))
      $("#pale" + k.substr(3))
        .change(configElemChange)
        .prop("checked", val > 0);
    else if (isProbeId(k, "le"))
    {
      if (val == 255) val = 127;
      $("#les" + k.substr(2))
        .change(configElemChange)
        .val(val & 0x7f);
      $("#lei" + k.substr(2))
        .change(configElemChange)
        .prop("checked", val & 0x80);
    }
    else if (k == "oflag")
      setupCheckboxBitmask(k, val);
    else if (k == "smin" || k == "smax")
      $("#" + k + "X")
        .val(val * 10)
        .change(configElemChange);

    elem.change(configElemChange);
  }
}

function configElemChange()
{
  var name = this.id;
  if (this.className == "pc")
  {
    name = name.substr(3);
    var values = this.value.split(',');
    if (values.length >= 3)
    {
      $("#pca"+name).val(values[0]);
      $("#pcb"+name).val(values[1]);
      $("#pcc"+name).val(values[2]);
      if (values.length >= 4)
        $("#pcr"+name).val(values[3]);
    }
  }
  else if (isProbeId(name, "prfa"))
  {
    name = "prfn" + name.substr(4);
    var value;
    if ($(this).is(":checked"))
      value = "127";
    else
      value = configHash[name];
    $("#" + name).val(value);
  }
  else if (isProbeId(name, "prfn"))
  {
    name = "#prfa" + name.substr(4);
    $(name).prop("checked", $(this).val() == "127");
  }
  else if (isProbeId(name, "palel") || isProbeId(name, "paleh"))
  {
    name = "pal" + name.substr(4);
    var value = $("#" + name).val();
    if ($(this).is(":checked"))
      value = value < 0 ? -value : value;
    else
      value = value > 0 ? -value : value;
    $("#" + name).val(value);
  }
  else if (isProbeId(name, "pall") || isProbeId(name, "palh"))
  {
    name = "#pale" + name.substr(3);
    $(name).prop("checked", $(this).val() > 0);
  }
  else if (isProbeId(name, "les") || isProbeId(name, "lei"))
  {
    var target = "#le" + name.substr(3);
    var val = $("#les" + name.substr(3)).val();
    if ($("#lei" + name.substr(3)).is(":checked"))
      val |= 0x80;
    $(target).val(val);
  }
  else if (isProbeId(name, "oflag"))
  {
    var idx = +name.substr(5);
    var val = $("#oflag").val();
    if ($(this).is(":checked"))
      val |= (1 << idx);
    else
      val &= ~(1 << idx);
    $("#oflag").val(val);
  }
  else if (name == "sminX" || name == "smaxX")
    $("#" + name.substr(0, 4))
      .val(Math.round($(this).val() / 10));

  updateUpdateUrl();
}

function setupCheckboxBitmask(k, v)
{
  for (i=0; i<8; ++i)
  {
    var elem = $("#" + k + i)
    if (elem)
    {
      elem.change(configElemChange)
        .prop("checked", v & (1 << i));
    }
  }
}

function configToForm()
{
  if (typeof(configHash.ucid) == "undefined")
  {
    $("#allconfig").hide();
    $("#noconfig").show();
  }
  else
  { 
    $("#noconfig").hide();
    $("#allconfig").show();
    configHashToForm();
    updateConfigUrl("#fullurl", configHash);
    updateConfigUrl("#updateurl", {});
  }
}

function updateUpdateUrl()
{
  updateConfigUrl("#updateurl", configChangedHash());
}

function configChangedHash()
{
  var r = {};
  for (var k in configHash)
  { 
    var elem = $("#"+k);
    if (elem == null)
      continue;
    if (isProbeId(k, "pcurr"))
      continue;
    var val = elem.val();
    if (isProbeId(k, "prfn") && val == "")
      val = null;
    if (val != configHash[k])
      r[k] = val;
  }
  
  return r;
}

function csvItems(h, dest, uritarget, srcs)
{
  var r = uritarget + "=";
  var cntCommas = 0;
  var hasVal = false;
  for (var i=0; i<srcs.length; ++i)
  {
    var val;
    if (typeof(srcs[i]) == "function")
      val = srcs[i]();
    else 
      val = h[srcs[i]];
    if (val != null)
    {
      while (cntCommas < i)
      {
        r += ",";
        ++cntCommas;
      }
      r += encodeURIComponent(val);
      hasVal = true;
    }
  }

  if (hasVal)
    dest.push(r);  
}

function getProbeTypeForSend(h, i)
{
  var ptype = $("#pt"+i).val();
  if (ptype == "2")
  {
    if (h["prfn"+i] == null)
      return null;
    var nodeId = $("#prfn"+i).val();
    if (nodeId)
      return parseInt(nodeId) + 128;
  }
  else
    return h["pt"+i];
}

function updateConfigUrl(divname, h)
{
  var aValues = new Array();
  var STATIC_MAP = [ "pn0", "pn1", "pn2", "pn3", 
    "sp", "pidb", "pidp", "pidi", "pidd" ];
  for (var k in h)
  {
    if ($.inArray(k, STATIC_MAP) != -1)
      aValues.push(k + "=" + encodeURIComponent(h[k]));
  }
  
  csvItems(h, aValues, "lb", ["lb", "lbn", "le0", "le1", "le2"]);
  csvItems(h, aValues, "ld", ["lo", "ld"]);
  csvItems(h, aValues, "po", ["po0", "po1", "po2", "po3"]);
  csvItems(h, aValues, "al", ["pall0", "palh0", "pall1", "palh1",
    "pall2", "palh2", "pall3", "palh3"]);
  csvItems(h, aValues, "fn", ["fmin", "fmax", "smin", "smax", "oflag"]);
  for (var i=0; i<4; ++i)
    csvItems(h, aValues, "pc"+i, ["pca"+i, "pcb"+i, "pcc"+i, "pcr"+i, 
      function () { return getProbeTypeForSend(h, i); } ]);
 
  var elem = $(divname);
  if (aValues.length > 0) 
  {
    aValues.sort();
    var s = aValues.join(" &amp;");
    var url = '<%=build_url("admin/lm/set")%>?' + aValues.join("&amp;");
    if (divname == "#updateurl")
    {
      $(':button[name="cbi.apply"]').click(
        (function (urlval) {
          return function () { return ifrmTarget(urlval); }
        })(url)
      );
      url = '#" onclick="return ifrmTarget(\'' + url + '\');';
    }
    s = '<a href="' + url + '">' + s + '</a>';
    elem.html(s);
  }
  else
  {
    elem.html("none");
    if (divname == "#updateurl")
      $(':button[name="cbi.apply"]').off("click");
  }
}

function coeffClick(probeId, idx)
{
  $("#pcppopup").hide();
  $("#pca" + probeId)
    .val(coeffPresets[idx].stein)
    .trigger("change");
  
  return false;
}

function showCoeffPopup()
{
  var o = this.parentNode;
  var probeId = o.id.substr(3);
  var list = $("#pcplist");
  list.empty();
  var items = new Array();
  for (var i=0; i<coeffPresets.length; ++i)
    items.push('<li><a class="nodest" href="#" onclick="return coeffClick(' +
      probeId + ',' + i + ');">' + coeffPresets[i].name + 
      '</a><br/>' + coeffPresets[i].desc);
  
  list.html(items.join(''));
  $(o).append($("#pcppopup").slideDown("fast"));
  
  return false;
}

function ifrmTarget(url,title)
{
  clearInterval(rfInterval);
  if (arguments.length < 2)
    title = "Updating configuration...";
    
  $("#overlay_ifrm")
    .load(function () { setTimeout(ifrmLoaded, 2000); })
    .attr("src", url);

  $("#dialog-title").text(title);
  $("#dialog-overlay").show();
  $("#dialog-container").show("fast");
  return false;
}

function ifrmLoaded()
{
  $.get("<%=build_url("lm/conf")%>",
    function (o) { configHash = o; configToForm(); windowLoaded(); })
    .error(function () { window.location.reload(); })
    .complete(ifrmHide);
}

function ifrmHide()
{
  $("#dialog-container").hide("fast", 
    function () { $("#dialog-overlay").hide(); });
  $("#overlay_ifrm").unbind().attr("src", "javascript:false;");
}

//]]></script>
<style>
  .pn { width: 120px !important; }
  .pc { width: 120px !important; }
  .pt { width: 122px !important; }
  .good { color: #0c0; }
  .bad { color: #c00; }
  .pconfig { vertical-align: top; width: 25%; }
  .ptitle { padding: 4px; text-align: center; font-size: large; }
  .pcurr { text-align: center; color: #ccc; font-size: small; }
  td.pconfig label { width: 4em; display: inline-block; }
  .pnum0 { background: #e73; }
  .pnum1 { background: #6c3; }
  .pnum2 { background: #297; }
  .pnum3 { background: #789; }
  .pcpreset { font-size: x-small; text-align: center; position: relative; }
  .rfstatus { float: left; width: 16px; height: 16px; 
    background-image: url('<%=resource%>/rf.png'); }
  div.cbi-value-last { border-bottom: none; }
  a.nodest { text-decoration: none; }
  ul#rfnodes { list-style-type: none; margin-left: 0 !important; }
  ul#rfnodes li { float: left; border: 1px dotted #bbb;
    margin-right: 1em; padding-right: 0.5em; }
  ul.led { list-style-type: none; margin-left: 0 !important; }
  ul.led li { display: inline-block; margin-right: 10px; position: relative; }
  ul.led label { position: absolute; right: 0; }
  div.circle { display: inline-block; width: 8px; height: 8px; border-radius: 50%;
    border: 1px solid gray; }
  #pcppopup { position: absolute; left: 0px; top: 0px; width: 100%; background: #f5f5f5; border: 2px solid #333; font-size: x-small; display: none; text-align: left; }
  #dialog-overlay { width: 100%; height: 100%; position: fixed; 
    top: 0px; left: 0px; display: none; background-color: #000; 
    opacity: 0.6; z-index: 1; }
  #dialog-container { background-color: #f5f5f5; width: 480px; height: 200px;
    border: 4px solid #4A6B7C; padding: 10px; border-radius: 10px;
    position: fixed; z-index: 2; top: 100px; display: none;
    left: 50%; margin-left: -240px; }
</style>
<h3>HeaterMeter Configuration</h3>
<div id="allconfig" style="display: none;">
<p>Adjust the configuration of the HeaterMeter microcontroller by modifying the
values in these fields. Save the changes by clicking the "Update URL" link.
You can store a configuration by bookmarking the "Full configuration" link.</p>

<form method="GET" action="">
<fieldset class="cbi-section" id="cbi-lm-probes">
<legend>Probe Setup</legend>

<div id="pcppopup">
  <div style="text-align: center; background: #333; color: #fff; position: relative;" onclick="$('#pcppopup').hide();">
    Coefficient Preset
    <div style="position: absolute; top: -1px; right: 2px; display: inline;">X</div>
  </div>
  <ul style="list-style-type: none; text-indent: -1em;" id="pcplist"></ul>
</div>

<table style="width: 100%;"><tr>
<% for i = 0, 3 do %>
<td class="pconfig">
<div class="ptitle pnum<%=i%>">Probe <%=i%></div>
<div class="pcurr" id="pcurr<%=i%>"></div>
<div class="cbi-value"><label>Name</label><input type="text" maxlength="12" class="pn" id="pn<%=i%>"/></div>
<div class="cbi-value"><label>Type</label><select class="pt" id="pt<%=i%>">
  <option value="0">Disabled</option>
  <option value="1">Internal</option>
  <option value="2">RF12 Wireless</option>
</select></div>
<div id="pbody<%=i%>">
  <div><b>Probe Coefficients</b></div>
  <div class="cbi-value"><label>A</label><input type="text" class="pc" id="pca<%=i%>"/></div>
  <div class="cbi-value"><label>B</label><input type="text" class="pc" id="pcb<%=i%>"/></div>
  <div class="cbi-value"><label>C</label><input type="text" class="pc" id="pcc<%=i%>"/></div>
  <div class="pcpreset" id="pcp<%=i%>"><a class="nodest" href="#">presets</a></div>
  <div class="cbi-value"><label>Resist</label><input type="text" maxlength="6" id="pcr<%=i%>" style="width: 4em;"/></div>
  <div class="cbi-value"><label>Offset</label><input type="text" maxlength="3" id="po<%=i%>" style="width: 2em;"/></div>
  <div><b>Alarms</b></div>
  <div class="cbi-value">
    <label>Low</label>
    <input type="text" maxlength="4" id="pall<%=i%>" style="width: 3em;"/>
    <label><input type="checkbox" id="palel<%=i%>" class="pale"/> On</label>
  </div>
  <div class="cbi-value">
    <label>High</label>
    <input type="text" maxlength="4" id="palh<%=i%>" style="width: 3em;"/>
    <label><input type="checkbox" id="paleh<%=i%>" class="pale"/> On</label>
  </div>
</div>
<div id="prf<%=i%>" style="display: none;">
  <div><b>RF12 Configuration</b></div>
  <div class="cbi-value cbi-value-last"><label>Node</label>
    <input type="text" maxlength="3" id="prfn<%=i%>" style="width: 2em;"/>
    <label><input type="checkbox" id="prfa<%=i%>" class="prfa"/> Any</label>
  </div>
</div>
</td>
<% end %>
</tr></table>
</fieldset>

<fieldset class="cbi-section" id="cbi-lm-rf" style="display: none;">
<legend>Available RF12 Transmitters</legend>
<div class="cbi-section-descr">Visible lmremote and La Crosse IT+ RF transmitters
available for use as probe sensors. Set the probe type to "RF12 Wireless" an
enter the node number shown below in the Node field. IT+ transmitters get new IDs each
time they are restarted.</div>
<ul id="rfnodes">
</ul>
</fieldset>

<fieldset class="cbi-section" id="cbi-lm-pid">
<legend>PID Output Parameters</legend>
  <div class="cbi-value">
    Bias <input type="text" maxlength="12" id="pidb" style="width: 5em;"/>
    Proportional <input type="text" maxlength="12" id="pidp" style="width: 5em;"/>
    Integral <input type="text" maxlength="12" id="pidi" style="width: 5em;"/>
    Derivative <input type="text" maxlength="12" id="pidd" style="width: 5em;"/>
  </div>
  <div class="cbi-value">
    <input type="hidden" id="oflag"/>
    Fan speed
    min <input type="text" maxlength="3" id="fmin" style="width: 2em;"/>% max
      <input type="text" maxlength="3" id="fmax" style="width: 2em;"/>%
    <label><input type="checkbox" id="oflag0"/> Invert output</label>
    <label><input type="checkbox" id="oflag2"/> On at max only</label>
    </ul>
  </div>
  <div class="cbi-value cbi-value-last">
    Servo pulse duration
    <input type="hidden" id="smin"/>
      <input type="text" maxlength="4" id="sminX" style="width: 3em;"/>us -
    <input type="hidden" id="smax"/>
      <input type="text" maxlength="4" id="smaxX" style="width: 3em;"/>us
    <label><input type="checkbox" id="oflag1"/> Invert output</label>
    <label><input type="checkbox" id="oflag3"/> Full open/close only</label>
  </div>
</fieldset>

<fieldset class="cbi-section" id="cbi-lm-lcd">
<legend>LCD / LED Display</legend>
  <div class="cbi-value">
    Backlight <input type="text" maxlength="3" id="lb" style="width: 2em;"/>%
    <select id="lbn" style="width: 12em;">
      <option value="255">2-line Home</option>
      <option value="254">4-line Home</option>
      <option value="0">Large Home: Probe 0</option>
      <option value="1">Large Home: Probe 1</option>
      <option value="2">Large Home: Probe 2</option>
      <option value="3">Large Home: Probe 3</option>
    </select>
  </div>
  <div class="cbi-value cbi-value-last">
  <ul class="led">
<% for i=0,2 do 
    local clr = (i == 0) and "red" or (i == 1) and "gold" or "greenyellow" %>
    <li><div class="circle" style="background: <%=clr%>"></div>
    LED <%=i+1%>
    <label>Invert <input type="checkbox" id="lei<%=i%>"/></label>
    <br/>
    <input type="hidden" id="le<%=i%>"/>
    <select id="les<%=i%>" style="width: 11em;">
      <option value="0">Off</option>
      <option value="1">Alarm 0 Low</option>
      <option value="2">Alarm 0 High</option>
      <option value="3">Alarm 1 Low</option>
      <option value="4">Alarm 1 High</option>
      <option value="5">Alarm 2 Low</option>
      <option value="6">Alarm 2 High</option>
      <option value="7">Alarm 3 Low</option>
      <option value="8">Alarm 3 High</option>
      <option value="14">Any Alarm Ringing</option>
      <option value="9">RF Data Received</option>
      <option value="10">Lid Open</option>
      <option value="11">Fan speed > 0%</option>
      <option value="13">Fan speed = Max</option>
      <option value="12">Pit Temp Reached</option>
      <option value="127">Unset</option>
    </select>
    </li>
<% end %>
  </ul>
  </div>
</fieldset>

<fieldset class="cbi-section" id="cbi-lm-lid">
<legend>Lid Open Detection</legend>
  Activate at <input type="text" maxlength="3" id="lo" style="width: 2em;"/>% below setpoint.
  Continue for <input type="text" maxlength="4" id="ld" style="width: 3em;"/> seconds or until temperature returns to normal.
</fieldset>

<fieldset class="cbi-section" id="cbi-lm-setpoint">
<legend>Pit Target Temperature</legend>
  Setpoint <input type="text" maxlength="4" id="sp" style="width: 3em;"/><br/>
  Include the suffix 'F' or 'C' to change units. Changing units does not
  scale the PID parameters, which should be adjusted manually.
</fieldset>

<fieldset class="cbi-section" id="cbi-lm-ucid">
<legend>HeaterMeter Information</legend>
Version <span id="ucid"></span><br/><span id="cerr" style="color: #f00;"></span>
</fieldset>

<div class="cbi-page-actions">
<input type="button" name="cbi.apply" value="Save &amp; Apply"
  class="cbi-button cbi-button-apply"/>
<input type="button" onclick="configToForm();" value="Reset to current"
  class="cbi-button cbi-button-reset"/>
<input type="button" value="Reboot AVR" class="cbi-button cbi-input-reload"
  onclick="ifrmTarget('<%=build_url("admin/lm/reboot")%>','Reboot');"/>
</div>
</form>

<h3>Update URL<img src="<%=resource%>/cbi/reload.gif" onclick="updateUpdateUrl();"/></h3>
<div id="updateurl" style="font-family: monospace"></div>

<h3>Full configuration URL</h3>
<div id="fullurl" style="font-family: monospace"></div>

<h3>Raw set command</h3>
Pass a direct 'set' command to linkmeterd for sending to HeaterMeter (e.g.
set the LCD backlight to 50% by entering lb=50 here).
<form method="GET" action="<%=build_url("admin/lm/set")%>">
<input name="rawset" type="text" size="64" />
<input type="submit" value="Set" class="cbi-button cbi-button-apply"/>
</form>

<div id="dialog-overlay"></div>
<div id="dialog-container">
  <div id="dialog-title" style="text-align: center;"></div>
  <iframe id="overlay_ifrm" style="width: 100%; height: 100%; border: 0;"></iframe>
</div>
</div>

<div id="noconfig" style="display: none;">
  <fieldset class="cbi-section">
  <legend>No Communication</legend>
  <div class="cbi-section-descr">
    HeaterMeter serial communication can not be established. Configuration
    requires bidirectional serial operation. Possible causes of failure:
    <ul>
      <li>No HeaterMeter board attached</li>
      <li>No HeaterMeter (AVR) firmware installed. See
        <a href="<%=build_url("admin/lm/fw")%>">AVR Firmware</a></li>
      <li>Incorrect baud rate in /etc/config/lucid</li>
      <li>Hardware malfunction</li>
    </ul>
  </div>
  </fieldset>
</div>
<%+footer%>
