<%+header%>

<h2><a id="content" name="content">LinkMeter</a></h2>
<h3>Configuration</h3>
<ul>
<li>Setpoint</li>
<li>PID params B P I D</li>
<li>Probe names</li>
<li>Probe offsets</li>
<li>Probe steinheart coefficients / resistor / rfmap / type</li>
<li>RF status</li>
<li>LCD backlight</li>
<li>Utilities:</li>
<ul>
<li>Backup / restore</li>
<li>Reboot AVR</li>
</ul>
</ul>

<h3>Raw set command</h3>
Note you can just build your own url from the home page if you're logged in /lm/set?...
<form method="GET" action="<%=luci.dispatcher.build_url("lm","set")%>">
<input name="rawset" type="text" size="64" />
<input type="submit" value="Set" />
</form>
<%+footer%>
