<%+header%>
<h2>Credits</h2>
<h3>Artwork</h3>
<ul>
  <li>Icons <a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icon Collection</a></li>
</ul>

<h3>Software</h3>
<ul>
  <li>AVR RFM12 library <a href="http://jeelabs.org/">JeeLabs</a></li>
  <li>AVR ShiftRegLCD library <a href="http://code.google.com/p/arduinoshiftreglcd/"></a></li>
  <li>OpenWrt device firmware <a href="https://openwrt.org/">OpenWrt project</a></li>
  <li>OpenWrt LUA daemon <a href="http://www.flukso.net/">Flukso project</a></li>
</ul>
<%+footer%>
