<%+header%>
<h2>Credits</h2>
<h3>Artwork</h3>
<ul>
  <li>Icons <a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icon Collection</a></li>
</ul>

<h3>Software</h3>
<ul>
  <li>AVR RFM12 library <a href="http://jeelabs.org/">JeeLabs</a></li>
  <li>AVR ShiftRegLCD library <a href="http://code.google.com/p/arduinoshiftreglcd/">raron</a></li>
  <li>LuCI OpenWrt Web Interface <a href="http://luci.subsignal.org/">LuCI project</a></li>
  <li>OpenWrt device firmware <a href="https://openwrt.org/">OpenWrt project</a></li>
</ul>
<%+footer%>
