<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeaterMeterSerialGraph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HeaterMeterSerialGraph.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PidB" serializeAs="String">
                <value>5.0</value>
            </setting>
            <setting name="PidP" serializeAs="String">
                <value>4.0</value>
            </setting>
            <setting name="PidI" serializeAs="String">
                <value>0.004</value>
            </setting>
            <setting name="PidD" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>485, 393</value>
            </setting>
        </HeaterMeterSerialGraph.Properties.Settings>
    </userSettings>
</configuration>