<%+header%>
<h2>LinkMeter Database Archives</h2>
<h3>Stash (archive) database</h3>
<p>The current log file is lost when LinkMeter is rebooted. To make your log
available for later review or continuation, the information can be "stashed"
to storage. Using the stash command copies the current log file at the point
it is stashed.</p>
<p>Storage requirements are about 80KB per stash.</p>
<p>Reload this page after stashing to see the file in the stored list.</p>
<form method="GET" action="<%=build_url("admin/lm/stashdb")%>">
  Filename: <input name="rrd" type="text" value="<%=os.date("%Y-%m-%d")%>" />
  <input type="submit" value="Stash" />
</form>
<% 
  local uci = luci.model.uci.cursor()
  local STASH_PATH = uci:get("linkmeter", "daemon", "stashpath")
  local ps = luci.util.execi("df -h " .. STASH_PATH)
  local fsInfo = STASH_PATH
  if ps then
    ps()
    local lineno = 0
    for line in ps do
      lineno = lineno + 1
      if lineno ~= 0 then
        local m = {}
        for value in line:gmatch("[^%s]+") do m[#m+1] = value end
        fsInfo = ("%s (%s) %s available"):format(STASH_PATH, m[2], m[4])
        break
      end
    end
  end
%>
  <fieldset class="cbi-section">
  <legend>Stored in <%=fsInfo%></legend>

  <table style="border-spacing: 40px 4px;">
    <tr><th style="border: 1px solid #ddd;">View</th>
      <th style="border: 1px solid #ddd;">Name</th>
      <th style="border: 1px solid #ddd;">Action</th>
    </tr>
<%
local jsonc = require("luci.jsonc")
local yesterday = os.time() - 86400
local files = {}
for fn in nixio.fs.glob(STASH_PATH .. "/*.rrd") do
  local f = {}
  f.path = luci.http.protocol.urlencode(fn)
  f.name = nixio.fs.basename(fn)
  f.stat = nixio.fs.stat(fn)
  if f.stat.type == "reg" then
    files[#files+1] = f
  end
  local conffile = fn:gsub("\.rrd$", ".json")
  f.conf = nixio.fs.readfile(conffile)
end

table.sort(files, function(a,b) return a.stat.mtime < b.stat.mtime end )

for _,f in ipairs(files) do
    local urlView = build_url("admin/lm/home").."?rrd="..f.path
    local urlCsv = build_url("lm/hist").."?rrd="..f.path
    local urlDelete = build_url("admin/lm/stashdb").."?delete=1&amp;rrd="..f.name
    local urlActivate = build_url("admin/lm/stashdb").."?restore=1&amp;rrd="..f.name
    if f.conf then f.conf = jsonc.parse(f.conf) end
%>
    <tr>
      <td>
        <a href="<%=urlView%>"><img src="<%=resource%>/chart_curve.png" />View</a>
        <a href="<%=urlCsv%>"><img src="<%=resource%>/table_go.png" />CSV</a>
      </td>
      <td>
        <div style="color: #999; font-style: italic; font-size: smaller;"><%=os.date("%B %d, %Y  %I:%M%p", f.stat.mtime)%></div>
        <div style="font-size: large;"><%=f.name%></div>
        <div><%=f.conf and f.conf.stash and f.conf.stash.desc%></div>
      </td>
      <td>
        <a href="<%=urlDelete%>"><img src="<%=resource%>/database_delete.png" />Delete</a>
<% if f.stat.mtime > yesterday then %>       <br/><a href="<%=urlActivate%>"><img src="<%=resource%>/arrow_switch.png" />Activate as current</a><% end %>
      </td>
    </tr>
    <tr><td colspan="3" style="background: #ccc; height: 2px;"></td></tr>
<% end %>
  </table>
 
<% if #files > 0 then %>
  <div class="cbi-section-node">
    <div class="cbi-value cbi-value-last">
      <a href="<%=build_url("admin/lm/stashdb")%>?backup=1">Download all</a> as tar archive
    </div>
  </div>
<% end %>
  </fieldset>
  
  <h3>Reset current database</h3>
  <p>This will clear all data in the current running database and start a
  new one.<br/>
  <img src="<%=resource%>/database_delete.png" />
  <a href="<%=build_url("admin/lm/stashdb").."?reset=1"%>">Reset
  Database</a></p>
<%+footer%>

