<%+header%>
<h2>Credits</h2>
<h3>Artwork</h3>
<ul>
  <li>Icons <a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icon Collection</a></li>
</ul>

<h3>Software</h3>
<ul>
  <li>hmdude based entirely on source from <a href="http://savannah.nongnu.org/projects/avrdude">AVRDUDE</a></li>
  <li>AVR RFM12 library <a href="http://jeelabs.org/">JeeLabs</a></li>
  <li>AVR ShiftRegLCD library <a href="http://code.google.com/p/arduinoshiftreglcd/">raron</a></li>
  <li>LuCI OpenWrt Web Interface <a href="http://luci.subsignal.org/">LuCI project</a></li>
  <li>OpenWrt device firmware <a href="https://openwrt.org/">OpenWrt project</a></li>
  <li>Joachim Wuttke: lmfit -- a C library for Levenberg-Marquardt least-squares minimization and curve fitting. Version 2.4, retrieved from <a href="http://apps.jcns.fz-juelich.de/lmfit">http://apps.jcns.fz-juelich.de/lmfit</a></li>
  <li>lualmfit LUA frontend to lmfit <a href="http://luaforge.net/projects/lualmfit/">lorensi@LuaForge</a></li>
  <li>Leon Huang (zlargon) <a href="https://github.com/zlargon/lssdp">lssdp</a> light weight SSDP library
</ul>

<h3>Hardware</h3>
<ul>
  <li>Kevin Akers: HeaterMeter v4.3 Base Board layout and routing</li>
</ul>
<%+footer%>
