<fieldset class="cbi-section">
  <legend>No Communication</legend>
  <div class="cbi-section-descr">
    HeaterMeter serial communication can not be established. Configuration
    requires bidirectional serial operation. Possible causes of failure:
    <ul>
      <li>No HeaterMeter board attached</li>
      <li>No HeaterMeter (AVR) firmware installed. See
        <a href="<%=build_url("admin/lm/fw")%>">AVR Firmware</a></li>
      <li>Incorrect baud rate in /etc/config/linkmeter</li>
      <li>Hardware malfunction</li>
    </ul>
  </div>
</fieldset>
