<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title>HeaterMeter apikey QRCode</title>
</head>
<script src="<%=resource%>/js/jquery-all.js" type="text/javascript"></script>
<script src="<%=resource%>/js/qrcode.min.js" type="text/javascript"></script>
<body>
<% local apikey = uci.cursor():get("linkmeter", "api", "key") %>
<center>
  <div id="qrcode"></div>
  <div style="font-family: monospace; font-size: large; margin-top: 1em;"><%=apikey%></div>
</center>
<script type="text/javascript">//<![CDATA[
var qrcode = new QRCode("qrcode", {
    text: '<%=apikey%>',
    width: 256,
    height: 256,
    colorDark : "#000",
    colorLight : "#fff"
});
//]]></script>
</body>
</html>